.index {
  text-align: center;
 background-color: whitesmoke;
 margin-right: 15%;
 margin-left: 15%;
}
h2 {
  color: red;
}
.container {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 25px;
grid-auto-rows: minmax(auto, 355px);

   img {
   vertical-align: middle;
   height: 45vh;
   width: 85vh;
   margin: auto;
   margin-bottom: 15px;
   border-radius: 5px;
   }
}
